<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon//favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon//favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon//site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon//safari-pinned-tab.svg') }}"
        color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Navigation bar title-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- My guess is that scripts and links defined in each page will be more -->
    <!-- specific and hence should be the ones that rule -->
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container" id="menu">
        <ul class="user-info">
            <li><a href="{{ url_for('home') }}"><i class="bi bi-house-door-fill"></i></a></li>
            {% if current_user.is_anonymous %}
            <li class="float-right"><a href="{{ url_for('login') }}"><i class="bi bi-person-circle"></i></a></li>
            {% else %}
            <li class="float-right"><a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i></a></li>
            <li class="float-right"><a href="{{ url_for('tick_list') }}"><i class="bi bi-clock-fill"></i></a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}{% endblock %}
</body>

</html>

{% block scripts %} {% endblock %}

<style>
    #menu {
        padding-left: 0;
        padding-right: 0;
    }
    .user-info {
        list-style: none;
        margin: 0;
        padding: 0.5rem;
        font-size: 150%;
        background-color: #d7252c;
    }

    .user-info a {
        color: rgb(236, 236, 236);
    }

    .user-info li {
        display: inline-block;
        margin: 0;
        padding: 0 1rem;
    }

    @media (max-width: 767px) {
        .user-info li {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
        }
    }
</style>

{% block styles %}{% endblock %}