{% extends "base_template.html" %}

{% block title %}{{ create }}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/toggle.css') }}" rel="stylesheet" media="screen" />
<script src="{{ url_for('static', filename='js/turf.js') }} "></script>
<script src="{{ url_for('static', filename='js/problem_utils.js') }}"></script>
{% endblock %}

{% block content %}
<div id="holder">
  <div id="body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div style="text-align: center;">
            <h3>
              {{ section }}: {{ wall_name }}
            </h3>
          </div>
          <br />
          <img id="wall-image" src="{{ wall_image }}" alt="wall section" />
          <canvas id="wall-canvas"></canvas>
        </div>
        <br />
        <div class="col-sm">
          <div style="text-align: center;">
            <h5>{{ hold_type }}</h5>
            <div class="row">
              <div class="col-4">
                <input type="radio" name="hold_type" value="#00ff00" checked />
                {{ green }}<br />
              </div>
              <div class="col-4">
                <input type="radio" name="hold_type" value="#0000ff" />
                {{ blue }}<br />
              </div>
              <div class="col-4">
                <input type="radio" name="hold_type" value="#ff0000" />
                {{ red }}<br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row" style="display: flex;">
              <div class="col-4" style="display: grid;">
                <button class="btn btn-outline-dark" onclick="undoMove()">
                  {{ undo }}
                </button>
              </div>
              <div class="col-4" style="display: grid;">
                <form action="/save_boulder?section={{section}}" onsubmit="return validateForm()" method="POST" style="display: grid;">
                  <input class="btn btn-outline-dark" style="width:100%;" type="submit" value="Done" name="{{ submit }}"
                    onclick="return setHolds();" />
                  <input type="hidden" name="holds" id="holds-array" value="" />
                </form>
              </div>
              <div class="col-4" style="display: grid;">
                <a href="/" class="btn btn-outline-dark">{{ cancel }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var holds = [];
  var dragok = false;
  var wasDragged = false;

  var startX;
  var startY;

  window.onload = () => {
    var img = document.getElementById("wall-image");
    var cnvs = document.getElementById("wall-canvas");

    // listen for mouse events
    cnvs.onmousedown = myDown;
    cnvs.onmouseup = myUp;
    cnvs.onmousemove = myMove;

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";
    cnvs.width = img.offsetWidth;
    cnvs.height = img.offsetHeight;

    var ctx = cnvs.getContext("2d");
    ctx.width = cnvs.width;
    ctx.height = cnvs.height;
  };
  function draw(event) {
    var cnvs = document.getElementById("wall-canvas");
    var ctx = cnvs.getContext("2d");
    var holdColor = document.querySelector('input[name="hold_type"]:checked')
      .value;
    drawHold(
      ctx,
      event.offsetX,
      event.offsetY,
      '{{ radius }}' * ctx.width,
      holdColor,
      holds
    );
  }

  function drawHold(ctx, x, y, radius, color, holdArray) {
    // Draw circle
    ctx.beginPath();
    ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = color;
    ctx.stroke();
    // push to hold array
    holdArray.push({ x: x / ctx.width, y: y / ctx.height, color: color, radius: radius });
  }

  // clear the canvas
  function clear() {
    var cnvs = document.getElementById("wall-canvas");
    var ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);
  }

  // redraw the scene
  function drawAll() {
    clear();
    var cnvs = document.getElementById("wall-canvas");
    var ctx = cnvs.getContext("2d");
    // redraw each rect in the holds array
    for (var i = 0; i < holds.length; i++) {
      var hold = holds[i];
      ctx.beginPath();
      ctx.arc(hold.x * ctx.width, hold.y * ctx.height, hold.radius, 0, 2 * Math.PI, false);
      ctx.lineWidth = 3;
      ctx.strokeStyle = hold.color;
      ctx.stroke();
    }
  }

  // handle mousedown events
  function myDown(e) {

    // tell the browser we're handling this mouse event
    e.preventDefault();
    e.stopPropagation();

    // get the current mouse position
    var mx = parseInt(e.offsetX);
    var my = parseInt(e.offsetY);

    var cnvs = document.getElementById("wall-canvas");
    const ctx = cnvs.getContext("2d");

    // test each hold marker to see if mouse is inside
    dragok = false;
    for (var i = 0; i < holds.length; i++) {
      var h = holds[i];
      if (((mx - h.x * ctx.width) ** 2 + (my - h.y * ctx.height) ** 2) < h.radius ** 2) {
        // if yes, set that hold marker isDragging=true
        dragok = true;
        h.isDragging = true;
      }
    }
    // save the current mouse position
    startX = mx;
    startY = my;
  }


  // handle mouseup events
  function myUp(e) {

    // tell the browser we're handling this mouse event
    e.preventDefault();
    e.stopPropagation();

    // clear all the dragging flags
    for (var i = 0; i < holds.length; i++) {
      holds[i].isDragging = false;
    }
    // If we are not dragging anything
    if (!dragok) {
      // If the clicked element doesn't have the right selector, bail
      if (
        !(
          e.target.matches("#wall-image") ||
          e.target.matches("#wall-canvas")
        )
      ) return;
      // Don't follow the link
      // event.preventDefault();
      draw(e);
    }
    // Clear global drag flag
    dragok = false;
    return;
  }


  // handle mouse moves
  function myMove(e) {
    // if we're dragging anything...
    if (dragok) {

      // tell the browser we're handling this mouse event
      e.preventDefault();
      e.stopPropagation();

      // get the current mouse position
      var mx = parseInt(e.offsetX);
      var my = parseInt(e.offsetY);

      // calculate the distance the mouse has moved
      // since the last mousemove
      var cnvs = document.getElementById("wall-canvas");
      const ctx = cnvs.getContext("2d");

      var dx = (mx - startX) / ctx.width;
      var dy = (my - startY) / ctx.height;

      // move each hold marker that isDragging 
      // by the distance the mouse has moved
      // since the last mousemove
      for (var i = 0; i < holds.length; i++) {
        var hold = holds[i];
        if (hold.isDragging) {
          hold.x += dx;
          hold.y += dy;
        }
      }

      // redraw the scene with the new hold marker positions
      drawAll();

      // reset the starting mouse position for the next mousemove
      startX = mx;
      startY = my;
    }
  }

  function undoMove() {
    holds.pop(); // Remove last selected hold
    // Clear canvas
    var cnvs = document.getElementById("wall-canvas");
    const ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);
    var newHolds = [];
    holds.forEach((hold) =>
      drawHold(
        ctx,
        hold.x * ctx.width,
        hold.y * ctx.height,
        '{{ radius }}' * ctx.width,
        hold.color,
        newHolds
      )
    );
    holds = newHolds;
  }

  function setHolds() {
    // Avoid storing unnecessary data
    for (var i = 0; i < holds.length; i++) {
      delete holds[i].radius;
      delete holds[i].isDragging;
    }
    document.getElementById("holds-array").value = JSON.stringify(holds);
  }

  function validateForm() {
    if (holds.length === 0) {
      alert("Boulder cannot be empty");
      return false;
    }
    return true;
  }
</script>
</script>
{% endblock %}

{% block styles %}
<style>
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
  
  @media (max-width: 767px) {
    img {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
    
    h5 {
      margin-top: 0.5rem;
    }
  }

</style>
{% endblock %}