{% extends "base_template.html" %}

{% block title %}{{ explore }}{% endblock %}

{% block content %}
<br />
<div id="holder">
  <div id="body">
    <div class="container">
      {% for route in routes_list %}
      <div class="card">
        <div class="row">
          <div class="dot" style="background-color: {{ route['difficulty'] }};"></div>
          <!-- TODO: Add safename field to boulder -->
          <div style="padding-left: 0.5rem;">
            <form action="/load_route" method="post">
              <input type="hidden" name="route_data" id="holds-array" value="{{route}}" />
              <button type="submit" name="route" value="{{ route['name'] }}" class="btn-link">
                <h5>{{route['name']}}</h5>
              </button>
            </form>
          </div>
        </div>
        <ul>
          <li>{{ section }}: {{route["section"]}}</li>
          <li>{{ creator}}: {{route["creator"]}}</li>
          <li>{{ feet }}: {{route["feet"]}}</li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
<style>
  /* https://stackoverflow.com/questions/47702879/bootstrap-4-hex-colors-for-rails-app */
  .btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #007bff;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
  }

  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgb(104, 104, 104);
    position: relative;
    display: inline-block;
  }

  .card {
    border: 0.1em solid dimgray;
    padding: 0.5em;
    padding-left: 1.2em;
    margin: 0.5em;
  }
</style>
{% endblock %}