{% extends "base_template.html" %}

{% block title %}{{ explore }}{% endblock %}

{% block content %}
<br />
<div id="holder">
  <div id="body">
    <div class="container">
      <div class="custom-link" id="baseDiv">{{ choose_filters }}</div>
      <div id="popUpDiv">
        <div class="row popupItem">
          <div class="col-4 col-md-1 mt-1">
            {{ difficulty }}:
          </div>
          <div class="col-6 col-md-4 mr-3">
            <div class="form-group">
              <select class="form-control" id="popupSelectDiff">
                <option value="all" selected>{{ all }}</option>
                <option value="orange">{{ orange }}</option>
                <option value="red">{{ red }}</option>
                <option value="blue">{{ blue }}</option>
                <option value="white">{{ white }}</option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="row popupItem">
          <div class="col-4 col-md-1 mt-1">
            {{ section }}:
          </div>
          <div class="col-6 col-md-4 mr-3">
            <div class="form-group">
              <select class="form-control" id="popupSelectSection">
                <option value="all" selected>{{ all }}</option>
                {% for wall in walls %}
                <option value="{{ wall['image'] }}">{{ wall['name'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="row popupItem">
          <div class="col-4 col-md-1 mt-1">
            {{ rating }}:
          </div>
          <div class="col-6 col-md-4 mr-3">
            <div class="form-group">
              <select class="form-control" id="popupSelectRating">
                <option value="all" selected>{{ all }}</option>
                <option value="0">0 {{ stars }}</option>
                <option value="1">1 {{ star }}</option>
                <option value="2">2 {{ stars }}</option>
                <option value="3">3 {{ stars }}</option>
                <option value="4">4 {{ stars }}</option>
                <option value="5">5 {{ stars }}</option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="row popupItem">
          <div class="col-4 col-md-1 mt-1">
            {{ creator }}:
          </div>
          <div class="col-6 col-md-4 mr-3">
            <div class="form-group">
              <input type="text" class="form-control" id="popupCreator"></input>
            </div>
          </div>
        </div>
        <br /><br />
        <div class="row popupItem">
          <div class="col-12 col-md-6" style="display: grid; justify-content: center;">
            <button id="btnApply" class="btn btn-light">
              {{ apply }}
            </button>
          </div>
        </div>
      </div>
      <hr />
      <!-- TODO: Add safename field to boulder -->
      <form id="bForm" action="/explore_boulders" method="post">
        <p>
          &bull;
          <button type="submit" name="explore" value="explore-boulders" class="custom-link">
            {{ explore_boulders }}
          </button>
        </p>
      </form>
      <!-- <p>&bull;<a href="/explore_routes"> Explore Routes</a></p> -->
      <p>&bull;<a href=""> {{ explore_routes }} ({{ coming_soon }})</a></p>
    </div>
  </div>
</div>

<script>
  var filters = {
    difficulty: "all",
    section: "all",
    creator: "",
  };
  $("#baseDiv").click(function (e) {
    $("#popUpDiv").show();
  });
  $("#btnApply").click(function (e) {
    filters.difficulty = $("#popupSelectDiff").val();
    filters.section = $("#popupSelectSection").val();
    filters.creator = $("#popupCreator").val();
    filters.rating = $("#popupSelectRating").val();
    // $("#popUpDiv").hide();
    $("#bForm").submit()
  });
  $("#bForm").submit(function (e) {
    $("#form-filters").remove();
    $("<input />")
      .attr("type", "hidden")
      .attr("id", "form-filters")
      .attr("name", "filters")
      .attr("value", JSON.stringify(filters))
      .appendTo("#bForm");
    return true;
  });
</script>
{% endblock %}

{% block styles %}
<style>
  #popUpDiv {
    z-index: 10;
    position: absolute;
    background-color: rgba(123, 123, 123, 0.95);
    color: white;
    display: none;
    top: -3%;
    left: 0%;
    width: 97vw;
    height: 95vh;
  }

  .popupItem {
    z-index: 100;
    position: relative;
    padding-left: 3%;
    padding-top: 1%;
  }

  /* https://stackoverflow.com/questions/47702879/bootstrap-4-hex-colors-for-rails-app */
  .custom-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #007bff;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
  }

  .custom-link:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}