{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block content %}
<div id="holder">
  <div id="body">
    <div class="container">
      <br />
      <div class="row mb-3">
        <div class="col-sm-12 m-auto text-center">
          <img id="logo-img" title="Create problems on any climbing wall"
            src="{{ url_for('static', filename='images/logo/logo_u-grimpe_large.png') }}"
            alt="Create problems on any climbing wall" />
        </div>
      </div>
      {% for gym in gyms %}
      <div class="card" id="{{ gym['id'] }}">
        <form action="/" method="POST">
          <button type="submit" name="gym" id="gym" value="{{ gym['id'] }}" class="btn-link">
            <div class="row">
              <img src="{{ url_for('static', filename='images/gyms/'+gym['id']+'.JPG') }}"/>
              <div class="my-auto" style="padding-left: 2rem;">
                <h2>{{ gym['name'] }}</h2>
              </div>
            </div>
          </button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
<style>
  .btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #383838;
    padding: 0.5em;
    padding-left: 1.2em;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
  }

  .btn-link:hover {
    background-color: #f7f0f0;
    color: #383838;
    text-decoration: none;
  }

  .card {
    border: 0.1em solid dimgray;
    margin: 0.5em;
    padding: 0;
  }

  h2 {
    font-size: 100%;
  }

  .card img {
    max-width: 15%;
  }

  .star-rating-fixed .fas {
    color: yellow;
  }
</style>
{% endblock %}
