{% extends "base_template.html" %}

{% block title %}{{ ticklist }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tick_list.css') }}" />
{% endblock %}

{% block content %}
<br />
<div id="holder">
  <div id="body">
    <div class="container">
      <div class=" form-group row text-left">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 pl-4 mt-1">
          {{ sort_by }}:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 pl-4">
          <div class="row">
            <div class="col-6 col-md-4">
              <select class="form-control" id="sortTickListCriteria">
                <option value="date-recent" selected>{{ creation_date }}</option>
                <option value="difficulty">{{ difficulty }}</option>
                <option value="rating">{{ rating }}</option>
                <option value="section">{{ wall_section }}</option>
              </select>
            </div>
            <div class="col-6 col-md-4">
              <select class="form-control" id="sortTickListAscending">
                <option value="increasing">{{ increasing }}</option>
                <option value="decreasing" selected>{{ decreasing }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 pl-4 mt-1">
          {{ show }}:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 pl-4">
          <div class="row">
            <div class="col-6 col-md-4">
              <select class="form-control" id="hideDone">
                <option value="all">{{ all }}</option>
                <option value="todo" selected>{{ to_do }}</option>
                <option value="done">{{ done }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      {% if not boulder_list %}
      <br />
      <br />
      <div class="d-flex justify-content-center">
        <h5>{{ no_boulders_in_ticklist }}</h5>
      </div>
      {% endif %}
      <div id="tickList">
        {% for boulder in boulder_list %}
        <div class="card" id="{{ boulder['safe_name'] }}" data-done="{{boulder['is_done']}}">
          <div class="row">
            <div class="dot" style="background-color: {{ boulder['color'] }};"></div>
            <!-- TODO: Add safename field to boulder -->
            <div style="padding-left: 0.5rem;">
              <form action="/load_boulder" method="post">
                <input type="hidden" name="boulder_data" value="{{boulder}}" />
                <input type="hidden" name="origin" value="tick_list" />
                <button type="submit" name="boulder" value="{{ boulder['name'] }}" class="btn-link">
                  <h5>{{boulder['name']}}</h5>
                </button>
              </form>
            </div>
            <div style="display: flex; justify-content: flex-end; flex-grow: 1;">
              <form action="/delete_ticklist_problem" method="post">
                <input type="hidden" name="boulder_data" value="{{boulder}}" />
                <button type="submit" name="name" class="btn" value="{{ boulder['name'] }}" class="btn"
                  style="margin-right: 0.5rem;">
                  <i class="far fa-trash-alt fa-lg" style="vertical-align: top;"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-8" style="padding-left: 0;">
              <ul>
                {%- for wall in walls_list -%}
                {%- if wall['image'] == boulder['section'] -%}
                <li>Section: {{ wall['gym_name'] }}, {{ wall['name'] }}</li>
                {%- endif -%}
                {% endfor %}
                <li>Creator: {{boulder["creator"]}}</li>
                <li>Feet: {{boulder["feet"]}}</li>
                <li>
                  <div class="container">
                    <div class="row d-flex justify-content-left">
                      <div class="col-lg-12 d-flex justify-content-left">
                        <div class="star-rating-fixed">
                          <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 1 else 'fas fa-star' }}"></span>
                          <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 2 else 'fas fa-star' }}"></span>
                          <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 3 else 'fas fa-star' }}"></span>
                          <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 4 else 'fas fa-star' }}"></span>
                          <span class="{{ 'fa fa-star' if boulder.get('rating', 0) < 5 else 'fas fa-star' }}"></span>
                        </div>
                        <p style="margin-left: 10px; margin-top: 0px;">
                          {{ boulder.get('raters', 0) }} ratings
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-4" style="display: flex; justify-content: right;">
              {%- if boulder['is_done'] -%}
              <div>
                <span id="date-climbed">Dates Climbed:</span>
                {%- for date in boulder['date_climbed'] -%}
                <div style="display: flex; flex-direction: row;">
                  <span class="date-climbed-span">
                    {{ date }}
                  </span>
                </div>
                {% endfor %}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('load',
    function () {
      var list = $("#tickList");
      var listItems = list.children('div');
      listItems.each(
        function (index) {
          var item = listItems[index];
          item.removeAttribute('hidden');
          if ($("#hideDone")[0].value === "all") {
            return;
            // hide done
          } else if ($("#hideDone")[0].value === "done" && item.getAttribute("data-done") != "True") {
            item.setAttribute("hidden", true);
            return;
            // hide to do
          } else if ($("#hideDone")[0].value === "todo" && item.getAttribute("data-done") === "True") {
            item.setAttribute("hidden", true);
            return;
          }
        }
      );
    }, false);

  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  function replaceAll(string, search, replace) {
    return string.split(search).join(replace);
  }

  $("#hideDone").on("change", function () {
    var list = $("#tickList");
    var listItems = list.children('div');
    listItems.each(
      function (index) {
        var item = listItems[index];
        item.removeAttribute('hidden');
        if ($("#hideDone")[0].value === "all") {
          return;
          // hide done
        } else if ($("#hideDone")[0].value === "done" && item.getAttribute("data-done") != "True") {
          item.setAttribute("hidden", true);
          return;
          // hide to do
        } else if ($("#hideDone")[0].value === "todo" && item.getAttribute("data-done") === "True") {
          item.setAttribute("hidden", true);
          return;
        }
      }
    );
  });

  $("#sortTickListAscending").on("change", function () {
    var list = $("#tickList");
    var listItems = list.children('div');
    list.append(listItems.get().reverse());
  });

  $("#sortTickListCriteria").on("change", function () {
    // Some hackery to turn data into valid JS JSON
    var boulders = replaceAll(decodeHtml("{{ boulder_list }}"), "'", '"');
    boulders = replaceAll(boulders, 'True', 'true');
    boulders = replaceAll(boulders, 'False', 'false');
    var boulders_data = JSON.parse('{"boulders": ' + boulders + "}");
    // Sort data
    if (this.value === "date-recent") {
      function sortBoulders(a, b) {
        var dateA = Date.parse(a["time"]);
        var dateB = Date.parse(b["time"]);
        return dateB - dateA;
      }
    } else if (this.value === "difficulty") {
      function sortBoulders(a, b) {
        var difficulties = ["orange", "red", "blue", "white"];
        return (
          difficulties.indexOf(a["difficulty"]) -
          difficulties.indexOf(b["difficulty"])
        );
      }
    } else if (this.value === "section") {
      function sortBoulders(a, b) {
        return a["section"] < b["section"]
          ? 1
          : b["section"] < a["section"]
            ? -1
            : 0;
      }
    } else if (this.value === "rating") {
      function sortBoulders(a, b) {
        return b["rating"] - a["rating"];
      }
    }
    boulders_data["boulders"] = boulders_data["boulders"].sort(sortBoulders);

    if ($("#sortAscending").val() == "increasing") {
      boulders_data["boulders"].reverse();
    }
    boulders_data["boulders"].forEach((boulder) => {
      // Reorder divs according to criteria
      $("#tickList")
        .find("#" + boulder["safe_name"])
        .each(function () {
          $(this).parent().append(this);
        });
    });
  });
</script>
{% endblock %}
